* {
    border: none;
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-seri;
    font-size: 15px;
    border-radius: 30px;
    margin: 0 2px;
    background-color: #181818;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.modules-center {
  background-color: #202020;
  border-left: 10px solid #383838;
  border-right: 10px solid #383838;
  padding: 0 30px;
}

.modules-left {
  padding-right: 10px;
}

.modules-right {
  padding-left: 10px;
}

#clock, 
#battery, 
#cpu, #memory, 
#backlight, 
#network, 
#pulseaudio, 
#language, 
#custom-archlogo {
    border: 3px solid #282828;
}

#cpu, #memory, #language, #clock,
#window, #tray,
#pulseaudio, #backlight, #battery {
    padding-top: 3px;
}

#workspaces, #window, #tray {
    border: 3px solid #383838;
}

#window {
    color: #a0ffff;
    padding-left: 10px;
    padding-right: 9px;
}

window#waybar.empty #window {
    padding: 0 0px;
}

#workspaces {
    color: #1090f0;
}

#workspaces button {
    color: #60b0f0;
    background: transparent;
}

#workspaces button:hover {
    color: #60b0f0;
    box-shadow: inset 0 0px transparent;
}

#workspaces button.focused {
    color: transparent;
    background-color: transparent;
}

#tray {
  padding: 0 7px;
}

#clock {
    color: #00a0ff;
    padding-left: 11px;
    padding-right: 11px;
}

#battery {
    color: #0060ff;
    padding-left: 12px;
    padding-right: 19px;
}

#battery.charging {
    color: #0f0;
    border-color: #060;
}

#battery.critical:not(.charging) {
    color: #f00;
    border-color: #600;
}

#battery.warning:not(.charging) {
    color: #ffb000;
    border-color: #664200;
}

#battery.full {
    border-color: #002666;
}

#cpu, #memory {
    color: #3050ff;
    padding-left: 13px;
    padding-right: 13px;
}

#backlight {
    color: #60ffff;
    padding-left: 13px;
    padding-right: 17px;
}

#network {
    color: #0080ff;
    padding-left: 7px;
    padding-right: 16px;
    margin-right: 10px;
}

#network.disconnected {
    color: #f00;
    border-color: #600;
}

#pulseaudio {
    color: #60c0ff;
    padding-left: 14px;
    padding-right: 21px;
}

#pulseaudio.bluetooth {
    padding-right: 14px;
}

#language {
    color: #80c0ff;
    padding-left: 13px;
    padding-right: 12px;
}

#custom-archlogo {
    color: #0ff;
    border-color: #007070;
    margin-left: 10px;
    padding-left: 9px;
    padding-right: 12px;
}
